@use '../abstracts/shares' as *;

#Latest {
 @include responsive("tablet-landscape") {padding-top:30px ;}

        @include responsive("tablet") {padding-top:40px ;}

           @include responsive("mobile") {padding-top:30px ;}
 .products {

        @include responsive("desktop") {}

        @include responsive("tablet-landscape") {}

        @include responsive("tablet") {}

    }

    .product {
        border-radius: 10px;
        background-color: #fff;
        padding: 20px;
        border: 1px solid var(--main-color);

        @include responsive("tablet") {
            margin: auto;
            width: 70%; }

            ul {
                @include responsive("desktop") {}

                @include responsive("tablet-landscape") {}

                @include responsive("tablet") { }

                
                      @media (min-width: 371px) and (max-width: 767px){display: flex;  }

                }
           


            .product-images {
                ul {
                    li {
                        border-radius: 5px;
                        border: 1px solid var(--main-color);
                        cursor: pointer;
                        padding: 5px;
                    }
                }

                .selected-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .item {
                        width: 60%;

                    }


                }

                img {
                    transform: scale(1);
                    transition-duration: .5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .product-content {
                h3 {
                    color: var(--main-color);
                    font-weight: 500;
                }

                p {
                    color: #777;
                    font-size: 20px;
                    letter-spacing: 2px;
                }










            }
        }

    }