@use '../abstracts/shares' as *;

.login-popup{

    .box{
     width: 550px;
       @include responsive("tablet-landscape") {
                width: 350px;
            }

            @include responsive("tablet") {
           width: 350px;
                
            }

            @include responsive("mobile") {
                             width: 250px;
                
            }

    }
    input{
        font-size: 22px;
        padding: 10px;
    }


}
